html, body {
  margin: 0;
  padding: 0;
  // width: 100%;
  overflow-x: hidden; 
  
}

* {
  box-sizing: border-box;
}

:root {
  color-scheme: only light;
  background: white;
  color: #000000;
}


div {
  box-sizing: border-box;
}

footer {
  width: 100%;
}

.footer {
  background-color: #fdf8e8;
  font-family: 'Montserrat', sans-serif;
  color: #2d5016;
  padding: 20px 0;
  // margin-top: 80px;
  bottom: 0;
  left: 0;
  display: flex;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex: 1;
  text-decoration: none;
}

.footer-links a {
  text-decoration: none;
  font-size: 17px;
  transition: opacity 0.3s;
  color: #2d5016;
}

.footer-links a:hover {
  opacity: 0.7;
}

.footer-concepteur {
  font-style: italic;
  font-size: 12px;

}





/* ============================= */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-size: 8px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  
  }

  .footer-links a {
    font-size: 13px;
  }

  .footer-concepteur {
    text-align: center;
    font-size: 9px;
  }
}



/* ============================= */
/*  Tablette (600px - 1024px) */
/* ============================= */
@media (min-width: 601px) and (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 0 24px;
  }

  .footer-links {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .footer-concepteur {
    text-align: center;
    font-size: 11px;
  }
}
