// .header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1000;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
// }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.header--transparent .header-button:hover {
  color: white;
  border-color: white;
}


.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-left {
  font-size: 14px;
}


.divider {
  width: 1px;
  height: 20px;
  background-color: #fdf8e8;
}

.bottom-row-wrapper {
  width: 100%;
}

.bottom-row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo-group {
  display: flex;
  gap: 20px;
}

.logo {
  height: 70px;
  width: auto;
}



.button-group {
  display: flex;
  gap: 20px;
}

.header-button {
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2d5016;
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s linear;
  border-radius: 45px;
  display: inline-block;
}


.header-button:hover {
  text-decoration: none;
  transform: scale(1.04);
}

.header--transparent {
  background: transparent;
  box-shadow: none;
}

.header--transparent .header-button {
  color: white;
}



.header--scrolled {
  background: #fdf8e8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.header--scrolled .header-button {
  color: #2d5016;
}

.header--scrolled .logo {
  filter: none;
}



//media queries
@media (max-width: 1024px) {
  .header-container,
  // .top-row,
  .bottom-row {
    padding: 12px 48px;
  }

  .logo {
    height: 40px;
  }

  .logoT {
    height: 16px;
    margin-top: 10px;
  }

  .header-left {
    font-size: 14px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .header-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header-container,
  .top-row,
  .bottom-row {
    padding: 10px 20px;
  }

  .header-left {
    font-size: 13px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .divider {
    height: 16px;
  }

  .logo {
    height: 32px;
  }

  .logoT {
    height: 12px;
    margin-bottom: 3px;
  }

  .header-button {
    padding: 4px 10px;
    font-size: 15px;
  }

  .button-group {
    gap: 10px;
  }

  .logo-group {
    gap: 12px;
  }

  .header-right {
    gap: 12px;
  }
}
@media (max-width: 540px) {
  .header-left {
    font-size: 9px;
  }
}
@media (max-width: 440px) {
  .header-left {
    width: calc(100% - 80px);
    max-width: 250px;
  }
}
