.notfound {
  text-align: center;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  h1 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #274919e3;
    margin-top: 0;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
    margin-top: 0;
  }

  .notfound-home-link {
    display: inline-block;
    background-color: #274919e3;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3e7727e3;
      // color: #000;
    }
  }
}
